html{
  display: flex;
  background-color: black;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  width: 960px;
}
body, header, div{
  border: 1px solid white;
}
body{
  width: 100%
}
header{
  display: inline-flex;
  height: 2.82rem;
}
.logo{
  height: 1.5rem;
  margin: .66rem 1rem .66rem .5rem;
}
.company-name{
  font-size: 1rem;
  margin-top: .66rem;
  margin-bottom: .66rem;
}
.main-banner{
  height: 25rem;
}
.opening-textbox{
  display: flex;
  background-color: black;
  width: 20rem;
  margin-top: 9rem;
}
.opening-text{
  display: block;
  width: 100%;
  margin: 2rem 0rem 2rem 3rem;
  font-weight: bold;
}
.line-1{
  font-size: 1rem;
  width: 14rem;
}
.line-2{
  font-size: 2rem;
  margin-top: 0.25rem;
  width: 14rem;
}
footer{
  background-color:
  height: 5rem;
}
